<a href="/">Go Back</a>
<section class="login-box col-8">
  <div class="text-center">
    <h1 class="p-2" id="loginform">Login</h1>
    <form action="/login" method="POST">
      <input name="username" type="email" placeholder="Enter your Username" />
      <input
        name="password"
        type="password"
        placeholder="Enter your password"
      />
      <button>Submit</button>
    </form>
  </div>
</section>

<script src="/public/js/login.js"></script>