#bodyback {
  background-color: rgb(217, 234, 211);
}

.navhead {
  background-color: rgb(35, 16, 16);
}

#homenav {
  color: rgb(217, 234, 211);
}

#dashnav {
  color: rgb(217, 234, 211);
}

#loginnav {
  color: rgb(217, 234, 211);
}

#logoutnav {
  color: rgb(217, 234, 211);
}

#technav {
  font-size: 30px;
  background-color: rgb(217, 234, 211);
  border: 0 solid black;
  border-radius: 15px;
  box-shadow: 7px 7px 1px 1px rgb(167, 167, 167);
  font-weight: bold;
}

#cardhead {
  background-color: rgb(35, 16, 16);
}

#titlestyle {
  color: rgb(217, 234, 211);
  font-weight: bold;
  padding-top: 10px;
  padding-left: 15px;
  font-size: 35px;
}

#userstyle {
  color: rgb(217, 234, 211);
  padding-right: 25px;
  padding-top: 25px;
  font-size: 20px;
}

#cardbord {
  border: 3px solid rgb(35, 16, 16);
}

#logintitle {
  color: rgb(217, 234, 211);
  background-color: rgb(35, 16, 16);
}

.loginbox {
  background-color: rgb(217, 234, 211);
  border: 3px solid rgb(35, 16, 16);
}

.logbtn {
  border: 0px;
  border-radius: 5px;
  color: rgb(230, 228, 244);
  background-color: rgb(102, 102, 102);
}

.blogidhide {
  display: none;
}
